@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Montserrat|Merriweather:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

// fonts
$font1: "Merriweather", sans-serif;
$font2: "Merriweather", sans-serif;
$font3: "Nothing You Could Do", cursive;
$font4: "Montserrat", sans-serif;
$color_warn: #f5790b;
$color_cold: #454545;
$color_cold_lighter: #191d34;
$color_default: #f8f8f8;
$color_warn_opacity: #e3b04b;
