// @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Oswald&display=swap");

// fonts
$font1: "Roboto", sans-serif;
$font2: "Oswald", sans-serif;
$color_warn: #f5790b;
$color_cold: #454545;
$color_cold_lighter: #191d34;
$color_default: #f8f8f8;
$color_warn_opacity: #e3b04b;
