@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&family=Noto+Sans&display=swap");

// fonts
$font1: "Noto Sans", sans-serif;
$font2: "Markazi Text", sans-serif;
$color_warn: #f5790b;
$color_cold: #454545;
$color_cold_lighter: #191d34;
$color_default: #f8f8f8;
$color_warn_opacity: #e3b04b;
