<div class="position">

    <div class="expandnav_container">
        <mat-nav-list role="list" fxLayout="column" fxLayoutGap="30px">
            <a mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>home</mat-icon>
                <span>Trang chủ</span>
            </a>
            <a mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <mat-icon> rate_review</mat-icon>
                <span>Trải nghiệm</span>
            </a>
            <a mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>food_bank</mat-icon>
                <span>Ẩm thực</span>
            </a>
            <a mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>alt_route</mat-icon>
                <span>Hành trình</span>
            </a>
            <a mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <mat-icon> hotel</mat-icon>
                <span>Chỗ ở</span>
            </a>
            <a mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <mat-icon> directions_car</mat-icon>
                <span>Thuê xe</span>
            </a>
        </mat-nav-list>
    </div>
</div>