@import "shared/scss/_varriable.scss";
.parent_container {
  position: absolute;
  width: 100%;
  height: 100%;
  .mat-drawer {
    border: none;
  }
}

.child_container {
  width: 100%;
  height: 100%;
  .mat-drawer {
    border: none;
  }
}

.mat-drawer-content {
  background-color: $color_default;
  overflow: auto;
}
