<div class="main_page">
  <app-header-bar (sidenavToggle)="sidenav.toggle()" (drawerClose)="drawer.toggle()"></app-header-bar>
  <mat-drawer-container class="parent_container">
    <mat-drawer mode="side" #drawer opened>
      <app-side-menu></app-side-menu>
    </mat-drawer>
    <mat-drawer-content>
      <mat-drawer-container class="child_container" [hasBackdrop]="false">
        <mat-drawer #sidenav mode="side">
          <app-sidenav-expand></app-sidenav-expand>
        </mat-drawer>
        <mat-drawer-content>
          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-drawer-content>
  </mat-drawer-container>
</div>