<div class="position">
    <div class="sidenav_container">
        <mat-nav-list role="list">
            <a mat-list-item [routerLink]="['']" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active_route">
                <mat-icon>home</mat-icon>
                <span>Trang chủ</span>
            </a>
            <a mat-list-item [routerLink]="['/blog']" routerLinkActive="active_route" 
                >
                <mat-icon> rate_review</mat-icon>
                <span>Trải nghiệm</span>
            </a>
            <a mat-list-item [routerLink]="['/food']" routerLinkActive="active_route" 
                >
                <mat-icon>food_bank</mat-icon>
                <span>Ẩm thực</span>
            </a>
            <a mat-list-item [routerLink]="['/tour']" routerLinkActive="active_route" 
                >
                <mat-icon>alt_route</mat-icon>
                <span>Hành trình</span>
            </a>
            <a mat-list-item [routerLink]="['/homestay']" routerLinkActive="active_route" 
                >
                <mat-icon> hotel</mat-icon>
                <span>Chỗ ở</span>
            </a>
            <a mat-list-item [routerLink]="['/car-rental']" routerLinkActive="active_route" 
                >
                <mat-icon> directions_car</mat-icon>
                <span>Thuê xe</span>
            </a>
        </mat-nav-list>
    </div>
</div>